<!-- app/code/DigitalHub/DoubleCheck/etc/acl.xml -->
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DigitalHub_DoubleCheck::config_doublecheck" title="Double Check Price" translate="title" sortOrder="10">
                    <resource id="DigitalHub_DoubleCheck::general" title="General Settings" translate="title" sortOrder="10">
                        <resource id="DigitalHub_DoubleCheck::enabled" title="Enable Double Check Price Module" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
